{% extends 'base.html' %}
{% block title %} Login Page |{% endblock %}
{% block content %}

<section>
	<div class="container">		
		<form method="post" style="margin-top: 3rem;" enctype="multipart/form-data">
			{% csrf_token %}
			{{ form.as_p }}
			<div class="wrapper">
			<p>Don't have an account yet&quest; Sign Up <a href="{% url 'signup' %}" style="text-decoration: underline;">Here</p>
			</div>
			<button class="card-btn post" type="submit">
				Login
			</button>
		</form>
		</div>
	</section>

{% endblock %}